* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

section {
  padding: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  line-height: 52px;
  margin-block: 24px;
}

h2 {
  font-size: 32px;
  line-height: 44px;
  margin-block: 12px;
}

p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-block: 12px;
}

button {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  background: #f55800;
  padding: 12px;
  border: 1px solid #f55800;
}

button:hover,
button.hover {
  background: #fff5e1;
  color: #f55800;
}

button:active,
button.pressed {
  background: #e05304;
  border-color: #e05304;
  color: #f4f1f0;
}

button[disabled],
button.disabled {
  background: #f4f1f0;
  border-color: #f4f1f0;
  color: #5b5957;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.cell {
  flex-grow: 1;
  flex-basis: 100%;
}

ul.cell {
  padding: 0;
  list-style: none;
}

ul.cell > li {
  display: inline-block;
}

.grid {
  display: grid;
}

.nav-bar {
  min-height: 46px;
  flex-wrap: nowrap;
  background: #3c3a39;
  position: fixed;
  width: 100vw;
  padding: 0 24px;
  z-index: 10;
}

.title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 46px;
  color: #fff;
  padding: 0 12px;
  text-decoration: none;
}

#menu-btn {
  min-height: 46px;
  max-width: 46px;
  padding: 9px;
}

.blk-sec {
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  background-image: url(../imgs/Illustration.svg);
  background-color: #1c1a19;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: scroll;
  background-size: auto;
}

.blk-sec h1 {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-block: 12px;
}

.blk-sec .p-sub {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  margin-block: 12px;
}

.blk-sec p {
  color: #fff;
}

.social-link {
  display: inline-block;
  padding: 12px;
}

.works {
  padding-top: 120px;
}

.works h1 {
  text-align: center;
}

.grid.works-list {
  margin: 80px 0 20px;
  grid-gap: 24px;
}

.card.work {
  position: relative;
  display: flex;
  flex-flow: column;
}

.card.work .background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.card.work .content {
  background-image: linear-gradient(0deg, black, transparent);
  padding: 72px 16px 22px;
  color: #fff;
}

.work .background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work ul {
  list-style: none;
  padding: 0;
  margin: 12px -6px;
}

.work ul li {
  display: inline-block;
  padding: 10px 12px;
  margin: 0 6px;
  border: 1px solid #8993a4;
  border: 1px solid transparent;
  background: rgb(255 255 255 / 24%);
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  color: #fff;
}

.card.work:nth-child(1) .background {
  position: initial;
  width: auto;
  height: auto;
}

.card.work:nth-child(1) .content {
  background: none;
  padding: 0 0 22px;
  color: initial;
}

.card.work:nth-child(1) .live {
  align-self: flex-start;
}

.work:nth-child(1) .background img {
  height: auto;
}

.about ul {
  padding: 0;
  list-style-position: inside;
  margin-block: 12px;
}

.about > ul {
  list-style: none;
}

.work:nth-child(1) ul {
  list-style: none;
  padding: 0;
  margin: 12px -6px;
}

.about li li {
  list-style: none;
  text-align: center;
  font-family: inter, sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  margin-block: 32px;
}

.about > ul > li {
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.work:nth-child(1) ul li {
  border: 1px solid #8993a4;
  background: initial;
  color: #091e42;
}

.contact {
  padding-top: 120px;
}

.contact h2 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  margin-top: 58px;
}

.contact form input {
  height: 48px;
  padding: 15px 16px;
  border: none;
  border-bottom: solid 1px #dbd8d7;
  margin-bottom: 36px;
}

.contact form input::placeholder {
  color: #979493;
}

.contact form textarea {
  height: 114px;
  padding: 15px 16px;
  border: none;
  background: #fbf8f7;
}

.contact form button {
  align-self: center;
  margin-top: 24px;
}

.footer-separator {
  margin-block: 124px 15px;
}

.footer-list {
  position: relative;
  display: flex;
  margin: 0;
  justify-content: center;
  margin-bottom: 26px;
}

.footer-list::after {
  content: " ";
  background-color: #0d151e;
  width: 134px;
  height: 5px;
  position: absolute;
  bottom: 8px;
  margin-bottom: -26px;
}

.about {
  background-color: #1c1a19;
  color: #fff;
}

.about h1 {
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  text-align: center;
}

.about .bg-ilust {
  padding: 86px 24px 200px;
  margin: 0 -24px;
  background-image: url(../imgs/Frame.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.about > hr {
  margin-block: 9px 130px;
}

.about > ul > li::before {
  content: ' ';
  display: inline-block;
  background: #ff6b00;
  width: 16px;
  height: 16px;
  margin: 0 12px;
  transform: translate(0, -2px);
}

.about > ul > li:nth-child(1)::before {
  transform: translate(0, -2px) rotate(45deg);
}

.about > ul > li:nth-child(3)::before {
  border-radius: 100px;
}
