* {
  box-sizing: border-box;
}

.modal {
  width: calc(100vw - 32px);
  background: #fff;
  padding: 16px;
  padding-bottom: 20px;
  max-height: calc(100vh - 60px);
}

div#details {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background: #727272aa;
  backdrop-filter: blur(5px);
  display: none;
  justify-content: center;
  align-items: center;
}

div#details.active {
  display: flex;
}

body {
  margin: 0;
}

section,
.section {
  padding: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  line-height: 52px;
  margin-block: 24px;
}

h2 {
  font-size: 32px;
  line-height: 44px;
  margin-block: 12px;
}

p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-block: 12px;
}

.btn,
button {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  background: #f55800;
  padding: 12px;
  border: 1px solid #f55800;
  transition: background-color 0.2s;
  display: inline-block;
  text-decoration: none;
}

button > img,
.btn > img {
  transform: translateY(4px);
  height: 20px;
}

.btn:hover,
button:hover,
button.hover {
  background: #fff5e1;
  color: #f55800;
}

.btn:active,
button:active,
button.pressed {
  background: #e05304;
  border-color: #e05304;
  color: #f4f1f0;
}

.btn.disabled,
button[disabled],
button.disabled {
  background: #f4f1f0;
  border-color: #f4f1f0;
  color: #5b5957;
}

.modal > img {
  width: 100%;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.cell {
  flex-grow: 1;
  flex-basis: 100%;
}

ul.cell {
  padding: 0;
  list-style: none;
}

ul.cell > li {
  display: inline-block;
}

.grid {
  display: grid;
}

.nav-bar {
  min-height: 46px;
  flex-wrap: nowrap;
  background: #3c3a39;
  position: fixed;
  width: 100vw;
  padding: 0 24px;
  z-index: 10;
}

.title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 46px;
  color: #fff;
  padding: 0 12px;
  text-decoration: none;
}

.menu-nav {
  min-height: 46px;
  max-width: 46px;
  padding: 9px;
}

.menu-nav > ul li {
  display: inline-block;
  margin: 0 16px;
  height: 40px;
  line-height: 40px;
}

.modal ul li,
.work ul li {
  display: inline-block;
  padding: 10px 12px;
  margin: 6px 6px;
  border: 1px solid #8993a4;
  border: 1px solid transparent;
  background: rgb(255 255 255 / 24%);
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  color: #fff;
}

.about li li {
  list-style: none;
  text-align: center;
  font-family: inter, sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  margin-block: 32px;
}

.about > ul > li {
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.blk-sec {
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  background-image: url(../imgs/Illustration.svg);
  background-color: #1c1a19;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: scroll;
  background-size: auto;
}

.blk-sec h1 {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-block: 12px;
}

.blk-sec .p-sub {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  margin-block: 12px;
}

.blk-sec p {
  color: #fff;
}

.social-link {
  display: inline-block;
  padding: 12px;
}

.works {
  padding-top: 120px;
}

.works h1 {
  text-align: center;
}

.grid.works-list {
  margin: 80px 0 20px;
  grid-gap: 24px;
}

.card.work {
  position: relative;
  display: flex;
  flex-flow: column;
}

.card.work .background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal .content {
  display: flex;
  max-height: 31vh;
  flex-direction: column;
}

.text {
  overflow-y: scroll;
  margin-top: 24px;
  margin-bottom: 16px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.card.work .content {
  background-image: linear-gradient(0deg, black, transparent);
  padding: 72px 16px 22px;
  color: #fff;
}

.work .background img {
  height: 100%;
  object-fit: cover;
  transition-duration: 0.5s;
}

.work:hover .background img {
  height: 120%;
  margin-top: -10%;
}

.modal ul,
.work ul {
  list-style: none;
  padding: 0;
  margin: 6px -6px;
}

.card.work:nth-child(1) .background {
  position: initial;
  width: auto;
  height: auto;
}

.contact h2 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  margin-top: 58px;
}

.card.work:nth-child(1) .content {
  background: none;
  padding: 0 0 22px;
  color: initial;
}

.card.work:nth-child(1) .content h2 {
  margin-block-start: 0;
}

.card.work:nth-child(1) .live {
  align-self: flex-start;
}

.work:nth-child(1) .background img {
  height: auto;
  width: 100%;
  margin: 0;
}

.about ul {
  padding: 0;
  list-style-position: inside;
  margin-block: 12px;
}

.about > ul {
  list-style: none;
}

.menu-nav ul {
  display: none;
}

.modal ul,
.work:nth-child(1) ul {
  list-style: none;
  padding: 0;
  margin: 12px -6px;
}

.modal ul li,
.work:nth-child(1) ul li {
  border: 1px solid #8993a4;
  background: initial;
  color: #091e42;
}

.contact {
  padding-top: 120px;
}

.contact form input {
  height: 48px;
  padding: 15px 16px;
  border: none;
  border-bottom: solid 1px #dbd8d7;
  margin-bottom: 36px;
  transition-duration: 0.3s;
}

.contact form textarea {
  height: 114px;
  padding: 15px 16px;
  border: none;
  background: #fbf8f7;
  transition-duration: 0.3s;
}

.contact form input:hover,
.contact form textarea:hover {
  padding-left: 25px;
}

.contact form input::placeholder {
  color: #979493;
}

.contact form button {
  align-self: center;
  margin-top: 24px;
}

.footer-separator {
  margin-block: 124px 15px;
}

.footer-list {
  position: relative;
  display: flex;
  margin: 0;
  justify-content: center;
  margin-bottom: 26px;
}

.footer-list::after {
  content: " ";
  background-color: #0d151e;
  width: 134px;
  height: 5px;
  position: absolute;
  bottom: 8px;
  margin-bottom: -26px;
}

.about {
  background-color: #1c1a19;
  color: #fff;
}

.about h1 {
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  text-align: center;
}

.about .bg-ilust button {
  display: none;
}

.about .bg-ilust {
  padding: 86px 23px 200px;
  margin: 0 -24px;
  background-image: url(../imgs/Frame.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.about > hr {
  margin-block: 9px 130px;
}

.about > ul > li::before {
  content: ' ';
  display: inline-block;
  background: #ff6b00;
  width: 16px;
  height: 16px;
  margin: 0 12px;
  transform: translate(0, -2px);
}

.about > ul > li:nth-child(1)::before {
  transform: translate(0, -2px) rotate(45deg);
}

.about > ul > li:nth-child(3)::before {
  border-radius: 100px;
}

#close-modal {
  width: 12px;
  height: 12px;
  float: right;
  padding: 32px;
}

@media screen and (max-width: 991px) {
  .mobile-nav-menu {
    display: flex !important;
    background-color: #3c3a39;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    color: #fff5e1;
    margin: 0;
    list-style: none;
    padding: 24px;
    line-height: 64px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
  }

  .mobile-nav-menu > li {
    border-bottom: 1px solid #6f6c6b;
  }

  .mobile-nav-menu > li:last-child {
    display: none;
  }

  .mobile-nav-menu a {
    color: inherit;
    text-decoration: inherit;
  }

  .mobile-nav-menu > li > a {
    padding-left: 16px;
  }

  .mobile-nav-menu > li:nth-child(1) > a {
    float: right;
    padding-right: 6px;
  }
}

@media screen and (min-width: 992px) {
  p {
    font-size: 20px;
    line-height: 32px;
  }

  h2 {
    font-size: 40px;
    line-height: 52px;
    margin-block: 24px;
  }

  .section.contact {
    padding-top: 118px;
  }

  hr.footer-separator {
    margin-block-start: 154px;
  }

  .footer-list {
    margin-bottom: 0;
  }

  .footer-list::after {
    content: none;
  }

  .menu-nav a {
    color: inherit;
    text-decoration: inherit;
  }

  .menu-nav > a {
    display: none;
  }

  .about li li {
    text-align: left;
  }

  .about > ul > li {
    flex-grow: 1;
    text-align: left;
  }

  .menu-nav > ul li {
    display: inline-block;
    margin: 0 16px;
    height: 40px;
    line-height: 40px;
  }

  .blk-sec ul.cell > li {
    display: block;
  }

  #nav-menu li:nth-child(1) {
    display: none;
  }

  .contact form button {
    align-self: baseline;
  }

  .contact form {
    margin-top: 9px;
  }

  .contact h2 {
    width: 40%;
    float: left;
    margin-right: 48px;
    text-align: left;
  }

  .works {
    padding-top: 111px;
  }

  .blk-sec ul.cell {
    position: absolute;
    left: 1.5%;
    margin: 0;
    top: 50vh;
    transform: translateY(-50%);
  }

  .about > ul {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 130px;
  }

  .card.work button {
    display: none;
    margin-top: -50px;
    z-index: 1;
  }

  .about .bg-ilust button {
    margin-top: 48px;
    display: initial;
  }

  .modal .content {
    display: flex;
    max-height: calc(100vh - 277px);
    grid-column-end: span 2;
  }

  .text {
    margin-top: -12px;
  }

  .actions {
    display: block;
  }

  .card.work:nth-child(1) button {
    margin-top: 0;
    display: initial;
    grid-column-start: 2;
  }

  .card.work:hover button {
    display: initial;
  }

  .card.work .content {
    padding-top: 178px;
  }

  .card.work:hover .content {
    opacity: 0;
  }

  .card.work:nth-child(1):hover .content {
    opacity: 1;
  }

  .card.work:nth-child(1) .background {
    justify-content: start;
    justify-self: stretch;
    grid-row: span 3;
  }

  .grid.works-list {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 90px 0 106px;
  }

  .card.work:nth-child(1) {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-row-gap: 0;
    grid-column-gap: 24px;
    justify-items: baseline;
  }

  .works hr {
    display: inline-block;
    width: 782px;
    width: calc(100% - 22.3rem);
  }

  .works h1 {
    display: inline-block;
    width: 22rem;
  }

  .fl-box {
    padding-right: 50%;
  }

  .about .bg-ilust {
    margin: 0 -12.5%;
    padding: 0 50% 130px 12.5%;
    background-image: url(../imgs/illustration-about\ me.svg);
    background-size: 35%;
    background-position-y: center;
  }

  .about h1 {
    text-align: left;
  }

  section,
  .section {
    padding: 24px 10%;
  }

  .about {
    padding-top: 130px;
  }

  .blk-sec {
    background-image: url(../imgs/Illustration-header.svg);
    background-size: contain;
    background-position: right center;
    position: relative;
  }

  .blk-sec h1 {
    font-size: 72px;
    line-height: 81px;
  }

  .blk-sec .p-sub {
    font-size: 32px;
    line-height: 44px;
  }

  .menu-nav {
    max-width: 50%;
    padding: 0;
  }

  .menu-nav > ul {
    display: block;
    padding: 0;
    margin: 0 -16px;
    list-style: none;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    text-align: right;
  }

  .modal > img {
    grid-column-start: 1;
    height: 100%;
    object-fit: cover;
  }

  .menu-nav > ul img {
    margin-bottom: -7px;
  }

  .nav-bar {
    background: #3e3c3c;
    min-height: 72px;
    padding: 16px 10%;
    line-height: 40px;
  }

  .modal {
    width: 80%;
    display: grid;
    grid-template-columns: auto 40% 69px;
    column-gap: 25px;
    padding: 24px 24px 27px 24px;
  }

  #close-modal {
    grid-column-start: 3;
  }

  .details-heder {
    grid-row-start: 1;
    grid-column-end: span 2;
  }

  .details-heder h1 {
    max-width: calc(80vw - 142px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title {
    padding-top: 16px;
  }
}
